RewriteEngine On

# Set index.php as the default index file
DirectoryIndex index.php

# Redirect the root URL to the index.php
RewriteRule ^$ /index.php [L]

# Handle requests for add-product page
RewriteRule ^add-product$ /index.php?action=add [L]

# Redirect all other requests to index.php for handling
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.+)$ index.php [QSA,L]

# PHP settings
php_value display_errors On
php_value mbstring.http_input auto
php_value date.timezone America/New_York

# Enable error logging
php_flag log_errors On

# Specify the error log file next to the .htaccess file
php_value error_log php_errors.log
